/* COMMON */
body{
    height: 100vh;
}

.page-container{
    height: calc(100% - 5rem);
    background-color: var(--primary-color);
}

.upgrade-bar{
    position: fixed;
    right: 0;
    left: 14.375rem;
    background-color: var(--secondary-color);
    height: 5rem;
    text-align: right;
}

/* UTILITY */
.flex{
    display: flex;
}

.align-start{
    align-items: flex-start;
}

.direction-column{
    flex-direction: column;
}

.padding-standard{
    padding: 1.25rem;
}

.list-inline{
    list-style: none;
    padding-top: .3125rem;
}

.circle{
    border-radius: 50%;
}

/* main - base card structure */

.row{
    flex-wrap: wrap;
    margin-top: 1.25rem;
}

.row img{
    width: 100%;
}

.card{
    width: calc(100% / 6);
    flex-direction: column;
    text-align: center;
    padding-right: 1.25rem ;
    align-items: center;
    margin-bottom: 1.25rem;
}

.card h3{
    padding: .625rem 0;
}

