
a:hover{
    cursor: pointer;
}



/* ASIDE NAV */
nav h4:hover{
    color: white;
}

nav i:hover{
    color: white;
}

/* MAIN */
.category-list h4:hover{
    color: white;
}

.card:hover{
    filter: grayscale(0.7);
    transition: 0.5s;
}

.recently-played i{
    display: none;
}

.created-for-you i{
    display: none;
}

.popular-artists i{
    display: none;
}

.card:hover i{
    display: block;
    transition: 0.5s;
}

main h3:hover{
    cursor: pointer;
}

/* BUTTONS */
.btn{
    padding: .625rem 1.875rem;
    border: 1px solid white;
    border-radius: 1.25rem;
    font-size: 12PX;
    color: white;
    background-color: transparent;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}



