/* MAIN */
main{
    width: calc(100% - 14.375rem);
    overflow-y: auto;
    margin-top: 5rem;
    color: white;
}

/* category */
.category-list {
    margin: auto;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.category-list ul{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.category-list li:not(:last-child){
    padding-right: 1.875rem;
    text-align: center;
}

/* recently played */
.recently-played{
    margin-top: 3.125rem;
}

.img-box{
    position: relative;
}

.play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}


/* created for you | popular artists */
.created-for-you > h4, .popular-artists > h4{
    padding: 10px 0;
}
