/* MAIN */
main{
    width: calc(100% - 14.375rem);
    overflow-y: auto;
    margin-top: 5rem;
    color: white;
}

/* category */
.category-list {
    margin: auto;
    justify-content: space-between;
    padding-top: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.category-list ul{
    flex-wrap: wrap;
    text-align: center;
    padding: 0 1.25rem;
}

.category-list li:not(:last-child){
    padding-right: 1.875rem;
    text-align: center;
}

/* recently played */
.recently-played{
    margin-top: 3.125rem;
}

/* created for you | popular artists */
.created-for-you > h4, .popular-artists > h4{
    padding: 10px 0;
}

