/* 0 < vw <= 1100px */
@media screen and (max-width: 68.75rem){
    .card{
        width: calc(100% / 4);
    }
}

/* 0 < vw <= 700px */
@media screen and (max-width: 43.75rem){
    .card{
        width: calc(100% / 2);
    }
}

/* 0 < vw <= 600px */
@media screen and (max-width: 37.5rem){
    
    main{
        width: calc(100% - 70px);
    }

    .off-under-600px{
        display: none;
    }

    .on-under-600px{
        display: block;
        width: 70px;
        vertical-align: middle;

    }
    
    .padding-standard{
        padding: .9375rem;
    }

    .bottom-nav h3{
        display: none;
    }

    .bottom-nav h4{
        padding-bottom: 1.25rem;
    }

    .main-nav{
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }

    .bottom-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside{
        width:70px;
    }

    .upgrade-bar{
        left: 70px;
    }
}
