body{
    font-family: 'Montserrat', sans-serif;
}

/* ASIDE */
.playlist-nav ul li{
    padding-bottom: .625rem;
}

h3{
    color: white;
    font-size: .9375rem;
   
}

.bottom-nav h3{
    padding-left: .9375rem;
    display: inline-block;
    vertical-align: middle;
}

h4{
    color: var(--secondary-text-color);
    display: inline-block;
    vertical-align: middle;
    font-size: .8125rem;
}

hr{
    border: .0625rem solid var(--secondary-text-color);
    margin: 1.25rem 0;
}


/* FOOTER */

footer{
    color: white;
}

.left-nav{
    color: var(--secondary-text-color);
}

h5, .right-nav a{
    color: white;
}

.center-nav-top a{
    font-size: 1.25rem;
    color: white;
    
}

.center-nav-top :nth-of-type(3){
    font-size: 25px;
}