:root{
    --primary-color: #141922;
    --primary-color-light: #252525;
    --secondary-color: #080B12;
    --third-color: #000000;
    --primary-text-color: #ffffff;
    --secondary-text-color: #7A7D81;
}
    